/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 0px;
  border-radius: 10px;
  padding: 20px;
  min-height: 380px;
  max-width: 310px;
}
.button {
  background-color: #0b69ff;
  color: white;
  border-radius: 15px;
  border: solid 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}
h1,
p {
  font-family: 'Roboto';
}
.para {
  text-align: center;
}
.number {
  color: #0b69ff;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}
